@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #8da1b9;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

header,
footer {
  width: 100vw;
}

header {
  font-size: max(40px, 4vw);
  padding: 0.2em;
  margin-bottom: 0.5em;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

#pre-game-display,
#game-display {
  flex: 1;
}

#pre-game-display {
  
}

#game-display {
  display: none;
  flex-direction: column;
}

#form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;  
  border: groove;
  border-radius: 0.5em;
}

#start-game {
  width: 40%;
  margin-top: 1em;
  border-radius: 5px;
  padding: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 0.3em;
}

input {
  text-align: start;
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
}

.player-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  margin-bottom: 1em;
}

.disabled {
  pointer-events: none;
}

.row {
  display: flex;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(20vh, 1.5em);
  height: min(20vw, 1.5em);
  font-size: max(50px, 7vw);
  text-transform: uppercase;
  border-style: ridge;
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  background-color: #dbc7be;
  color: #ef959c;
}

.end-container {
  display: none;
  position: absolute;
  top: 22vw;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: #95adb6;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 3px 3px 5px slategray;
}

.end-container button {
  margin-top: 1em;
  border-radius: 5px;
  padding: 5px;
}

.blur {
  filter: blur(4px);
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 0.5em;
}