@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: max(40px, 4vw);
  padding: 0.2em 0 0.5em 0;
}

.logo {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
}

#pre-game-display {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#game-display {
  display: none;
  flex-direction: column;
  flex: 1;
}

fieldset {
  display: flex;
  flex-direction: column;
}

input {
  text-align: start;
}

.player-container {
  display: flex;
  justify-content: space-around;
  gap: 1em;
  margin-bottom: 1em;
}

.disabled {
  pointer-events: none;
}

.row {
  display: flex;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(20vh, 1.5em);
  height: min(20vw, 1.5em);
  font-size: max(50px, 7vw);
  text-transform: uppercase;
  border-style: groove;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
